---
title: Sprinkle 
---
extends shared/_layout
block content
  
  .grid
    // left section
    .b-left
      .b-section
        .intro
          .intro__logo
            i.icon.icon-logo-black
            i.icon.icon-logo-white
          .intro__title Earn rewards as you shop
          .intro__description Link your <i class="icon icon-card"></i> , spend <i class="icon icon-money"></i> = Rewards <i class="icon icon-ok"></i> <br><br> Simple.
          
          .intro__cta
            .intro__store
              a(href="#" target="_blank")
                i.icon.icon-app-store
            .intro__btn
              a(href="#" target="_blank")
                span Learn More
        
        .b-mobile-image
          .b-fixed__image
            img(src='img/phone.png' srcset='img/phone@2x.png 2x')
        
      
      .b-section.b-section--reveal
        .benefits
          .benefits__card
            .benefits__title Easy to setup
            .benefits__description Simply link your card to your account and begin earning rewards in no time
          .benefits__card
            .benefits__title Seamless <span class="mobile-inline">rewards</a>
            .benefits__description Earn rewards automatically while you shop. No more stamp cards
            
          .benefits__card
            .benefits__title Convinience
            .benefits__description No bulging wallets – simply opt-in to merchant reward schemes from the app
            
          .benefits__card
            .benefits__title Secure
            .benefits__description Your transaction data is encrypted + we’ll never share your information
            
          .benefits__card
            .benefits__title Get rewarded
            .benefits__description Earn rewards and receive exclusive offers from your favourite merchants
          .benefits__card
            .benefits__title Frictionless
            .benefits__description Never again will you have to scan or stamp anything in-store
            
          
              
    // right section          
    .b-right
      .b-fixed
        .b-fixed__wrapper
          .b-fixed__image
            video(autoplay="autoplay" loop="loop")#autoplay
              // source(src='video/snowman.ogv', type='video/ogg; codecs="theora, vorbis"')
              // source(src='video/video.mp4', type='video/mp4')
              // source(src="video/AppDemo.mov")
              source(src='video/green_1.webm', type='video/webm; codecs="vp8, vorbis"')


            //- img(src='img/phone.png' srcset='img/phone@2x.png 2x')
  
  // MERCHANTS
  .merchants
    a(href='#').merchants__cta For Merchants
    .merchants__mobile
      .merchants__title Are you a merchant?
      .merchants__description See how Sprinkle can work for you
      a(href='#').merchants__btn
        span Learn more
        
    
  // FOOTER
  .footer
    .footer__col
      a(href="mailto:contact@getsprinkle.co.uk") contact@getsprinkle.co.uk
      
    .footer__col
      span © 2017 Sprinkle Technologies Limited
    
    
