// INDEX

.grid
  position: relative
  display: flex

.b
  &-right, &-left
    flex: 0 1 50%
    width: 50%
    min-width: 1px

  &-left
    display: flex
    flex-direction: column
    padding: 0px 20px

  &-section
    flex: 1 1 auto
    min-height: 100vh
    display: flex
    flex-direction: column
    padding: 20px 11%
    &--reveal
      min-height: auto

  &-fixed
    display: flex
    flex-direction: column
    position: fixed
    top: 0
    right: 0
    bottom: 0
    z-index: 9
    left: 50%
    background: $colorViolet
    color: white
    &__wrapper
      position: relative
      flex: 1 1 auto
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 50px 40px
    &__image
      height: calc(100vh - 100px)
      flex: 0 1 auto
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      max-width: 393px
      img
        display: block
        flex: 0 1 100%
        max-width: 100%
        height: 100%
        object-fit: contain

  &-mobile-image
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: -40vh
    padding: 0px 40px 20px 40px

// INTRO :: START
.intro
  flex: 1 1 auto
  display: flex
  flex-direction: column
  justify-content: center
  &__logo
    .icon-logo-white
      display: none
  &__title
    margin-top: 50px
    font-size: 36px
    line-height: 1.19
    font-weight: 500
    letter-spacing: -.3px
    // transition: opacity .1s ease
  &__description
    margin-top: 32px
    font-size: 24px
    font-weight: 300
    // transition: opacity .1s ease
    .icon
      display: inline-block
      margin: 0 4px
      vertical-align: middle

  &__cta
    display: flex
    flex-wrap: wrap
    margin-top: 15vh
  &__store a
    margin-top: 20px
    font-size: 0
    display: inline-block
    margin-right: 30px
    transition: all $transitionSpeed $ease
    &:hover
      opacity: .8
  &__btn a
    display: inline-block
    position: relative
    text-align: center
    transition: all $transitionSpeed ease-in-out
    display: flex
    align-items: center
    justify-content: center
    background: $colorSea
    border: 2px solid $colorSea
    border-radius: 10px
    color: white
    margin-top: 20px
    font-size: 22px
    font-weight: 500
    padding: 8px 35px
    height: 64px
    &:focus, &:active
      outline: none
    &:hover
      background-color: transparent
      color: $colorSea

// BENEFITS
.benefits
  flex: 1 0 auto
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  opacity: 0
  padding: 0vh 0 0vh 0
  margin-bottom: -20vh
  // transition: all .1s ease
  &__card
    flex: 0 1 50%
    margin: 40px 0
    padding: 0 20px
    &:nth-child(odd)
      padding-left: 0
    &:nth-child(even)
      padding-right: 0
  &__title
    font-size: 24px
    font-weight: 500
  &__description
    margin-top: 8px
    font-size: 18px
    line-height: 1.44
  +rh(800)
    margin-bottom: -30vh



// MERCHANTS
.merchants
  position: fixed
  z-index: 10
  right: 40px
  top: 25px
  color: white
  &__cta
    font-size: 14px
    font-weight: 700
    font-family: 'Open Sans', sans-serif
  &__mobile
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    color: white
    text-align: center
    padding: 15px 20px

  &__title
    font-size: 20px
    line-height: 2
    font-weight: 500
    letter-spacing: -.17px
  &__description
    font-size: 16px
    font-weight: 300
    line-height: 1.6
  &__btn
    display: inline-block
    position: relative
    text-align: center
    transition: all $transitionSpeed ease-in-out
    display: flex
    align-items: center
    justify-content: center
    background: $colorSea
    border: 2px solid $colorSea
    border-radius: 40px
    color: white
    margin-top: 15px
    font-size: 14px
    font-weight: 500
    padding: 7px 25px
    &:focus, &:active
      outline: none
    &:hover
      background-color: transparent
      color: white

// FOOTER
.footer
  position: fixed
  bottom: 25px
  left: 0
  right: 0
  display: flex
  align-items: center
  z-index: 10
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  &__col
    flex: 0 1 50%
    width: 100%
    text-align: center
    font-size: 13px
    &:nth-child(2)
      color: white
    a
      transition: all $transitionSpeed $ease
      &:hover
        color: $colorViolet

+r($wide)
  .b
    &-section
      padding-left: 20px
      padding-right: 20px

  .intro
    &__title
      font-size: 32px
    &__description
      font-size: 22px
      .icon
        transform: scale(.9)
        margin: 0 2px

+r($desktop)
  .intro
    &__title
      font-size: 30px

    &__description
      font-size: 20px
      .icon
        transform: scale(.8)
        margin: 0

+r($tablet)
  .grid
    display: block

  .b
    &-left
      width: 100%
      padding: 0

    &-right
      display: none

    &-section
      min-height: 1px
      padding: 0

    &-mobile-image
      display: flex

    &-fixed__image
      height: auto
      img
        flex: 0 0 auto
        height: auto


  .intro
    background: $colorViolet
    padding: 50px 20px
    color: white
    min-height: 670px
    padding-bottom: 40vh
    justify-content: flex-start
    text-align: center
    &__logo
      .icon-logo-black
        display: none
      .icon-logo-white
        display: inline-block
    &__title
      margin-top: 35px
    &__description
      margin-top: 15px
      line-height: .8
    &__cta
      margin-top: 25px
      margin-bottom: 40px
      justify-content: center
      transform: scale(.77)
    &__store a
      margin-right: 0

    &__btn
      display: none

  .benefits
    padding: 30px 20px
    justify-content: center
    opacity: 1
    margin-bottom: 0
  .merchants
    position: static
    background: $colorViolet
    &__mobile
      display: flex
    &__cta
      display: none


  .footer
    position: static
    flex-direction: column
    padding: 20px 20px 15px 20px
    &__col
      &:nth-child(2)
        color: #9B9B9B

      a
        display: inline-block
        margin-bottom: 10px

+r($mobile)
  .intro
    &__title
      font-size: 20px
    &__description
      font-size: 18px
      .icon
        transform: scale(.7)
        margin: 0


  .benefits
    flex-direction: column
    text-align: center
    padding-bottom: 30px
    &__card
      max-width: 240px
      margin: 15px auto
      &:nth-child(odd)
        padding-left: 20px
      &:nth-child(even)
        padding-right: 20px

    &__title
      font-size: 20px
    &__description
      font-size: 16px
